{% extends 'main/master.html' %}

{% block page_title %}
Catalog page
{% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="/static/products/css/index.css">
    <ul class="products_item">
    {% for item in products %}
        <li>
            <span class="products__item-name">{{ item.name }}</span>
            {% if item.description|length < 20 %}
            <span class="products__item-description">{{item.description}}</span>
            {% else %}
            <span class="products__item-description">{{item.description|slice:'0:20'}}...</span>
            {% endif %}
            <span class="products__item-cost">{{ item.cost }}</span>
            <a href="{% url 'products:detail' pk=item.id %}">Перейти</a>
            </li>
    {% endfor %}
    </ul>
{% endblock %}