{% extends 'main/master.html' %}

{% block page_title %}
Catalog page
{% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="/static/products/css/products.css">
    {% include 'components/pagination.html' with page=page.obj page_range=page_obj.paginator.page_range%}
    <div class="products_item">
    {% for object in object_list %}
        {% include 'components/product_item.html' with object=object %}
    {% endfor %}
    </div>
    {% include 'components/pagination.html' with page=page.obj page_range=page_obj.paginator.page_range%}
{% endblock %}

page.paginator.page_range